:root {
  --c-text-main: #434455;
  --c-text-secondary: #2e2f42;
  --c-text-hero: #fff;
  --c-accent: #4d5ae5;
  --fill-icon: #f4f4fd;
  --bgc-social-icon-h-f: #404bbf;
  --bgc-btn-h-f: #404bbf;
  --bgc-features-icon: #f4f4fd;
  --overlay-hero: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
  --transition-brd: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-c: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-stroke: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-bgc: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-transform: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-box-shadow: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-opacity: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-visibility: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-fill: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
p {
  margin: 0;
  padding: 0;
}
button {
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: var(--c-text-main);
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
address {
  font-style: inherit;
}

.header__inner {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 800;
  color: var(--c-accent);
  text-transform: uppercase;
}
.logo__studio-header {
  color: var(--c-text-secondary);
}

/* CONTAINER */
.container {
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (max-width: 427px) {
  .container {
    width: 100%;
    max-width: 427px;
  }
}
@media screen and (min-width: 428px) and (max-width: 767px) {
  .container {
    width: 428px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
}
/* /CONTAINER */

/* HEADER */
.header {
  position: sticky;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* MOBILE */

@media screen and (max-width: 767px) {
  .mobile-menu {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: var(--transition-visibility), var(--transition-opacity);
  }
  .nav {
    /* DESKTOP NAV */
    display: none;
  }
  .contacts {
    /* DESKTOP CONTACT */
    display: none;
  }
  .header__inner {
    justify-content: space-between;
    height: 70px;
  }
  .burger-btn {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 22px;
    stroke: #2e2f42;
    transition: var(--transition-stroke);
  }
  .burger-btn:hover,
  .burger-btn:focus {
    stroke: var(--c-accent);
  }

  /* MOBILE MENU */
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    overflow: auto;
  }
  .mobile-menu.is-open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  .mobile-menu__inner {
    position: relative;
    max-width: 428px;
    height: 100%;
    margin: 0 auto;
    padding: 80px 16px 40px;
    display: flex;
    flex-direction: column;
  }
  .mobile-menu__btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: var(--transition-fill);
  }
  .mobile-menu__btn-close:hover,
  .mobile-menu__btn-close:focus {
    fill: var(--c-accent);
  }

  /* MOBILE MENU NAV*/
  .mobile-menu__nav {
    flex-grow: 1;
    margin-bottom: 40px;
  }
  .mobile-menu__nav-list {
    color: var(--c-text-secondary);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
  }
  .mobile-menu__nav-item + .mobile-menu__nav-item {
    margin-top: 40px;
  }
  .mobile-menu__nav-item {
    transition: var(--transition-c);
  }
  .mobile-menu__nav-item.current {
    color: var(--c-accent);
  }
  .mobile-menu__nav-item:hover,
  .mobile-menu__nav-item:focus {
    color: var(--c-accent);
  }

  /* MOBILE MENU CONTACT*/
  .mobile-menu__contacts {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
  }
  .mobile-menu__contacts .tel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--c-accent);
  }
  .mobile-menu__contacts-item {
    transition: var(--transition-c);
  }
  .mobile-menu__contacts-item + .mobile-menu__contacts-item {
    margin-top: 40px;
  }
  .mobile-menu__contacts-item:hover,
  .mobile-menu__contacts-item:focus {
    color: var(--c-accent);
  }
  .mobile-menu__social-list {
    display: flex;
    column-gap: 56px;
    fill: var(--fill-icon);
  }
  .mobile-menu__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--c-accent);
    transition: var(--transition-bgc);
  }
  .mobile-menu__social-link:hover,
  .mobile-menu__social-link:focus {
    background-color: var(--bgc-social-icon-h-f);
  }
}

/* Reducing the font size, column-gap when the screen width is less than 400 inclusive (for iPhone5/SE */
@media screen and (max-width: 400px) {
  .mobile-menu__contacts .tel {
    font-size: 20px;
  }
  .mobile-menu__social-list {
    column-gap: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .burger-btn {
    /* BURGER BUTTON */
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .header__inner {
    justify-content: space-between;
  }
  .nav__list {
    display: flex;
    column-gap: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .nav__link {
    position: relative;
    color: var(--c-text-secondary);
    display: block;
    padding: 23px 0;
    transition: var(--transition-c);
  }
  .nav__link.current {
    color: var(--c-accent);
  }
  .nav__link.current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--c-accent);
  }
  .nav__link:hover,
  .nav__link:focus {
    color: var(--c-accent);
  }
  .contacts__list {
    display: flex;
    flex-direction: column;
  }
  .contacts__item + .contacts__item {
    margin-top: 12px;
  }
  .contacts__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: var(--transition-c);
  }
  .contacts__link:hover,
  .contacts__link:focus {
    color: var(--c-accent);
  }
}

@media screen and (min-width: 1158px) {
  .burger-btn {
    /* BURGER BUTTON */
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .nav {
    margin-left: 76px;
  }
  .nav__list {
    display: flex;
    column-gap: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .nav__link {
    position: relative;
    color: var(--c-text-secondary);
    display: block;
    padding: 23px 0;
    transition: var(--transition-c);
  }
  .nav__link.current {
    color: var(--c-accent);
  }
  .nav__link.current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--c-accent);
  }
  .nav__link:hover,
  .nav__link:focus {
    color: var(--c-accent);
  }
  .contacts {
    margin-left: auto;
  }
  .contacts__list {
    display: flex;
  }
  .contacts__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: var(--transition-c);
  }
  .contacts__item + .contacts__item {
    margin-left: 40px;
  }
  .contacts__link:hover,
  .contacts__link:focus {
    color: var(--c-accent);
  }
}

/* ========== HERO ========== */

/* background image selection */

/* FOR MOBILE 1x */
.hero {
  background-image: var(--overlay-hero), url("../images/mobile/1x/hero-bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--c-text-hero);
}
/* FOR MOBILE 2x */
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: var(--overlay-hero),
      url("../images/mobile/2x/hero-bg@2x.webp");
  }
}

/* FOR TABLET 1x */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .hero {
    background-image: var(--overlay-hero),
      url("../images/tablet/1x/hero-bg.webp");
  }
}
/* FOR TABLET 2x */
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1157px),
  screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1157px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1157px) {
  .hero {
    background-image: var(--overlay-hero),
      url("../images/tablet/2x/hero-bg@2x.webp");
  }
}
/* FOR DESKTOP 1x */
@media screen and (min-width: 1158px) {
  .hero {
    background-image: var(--overlay-hero),
      url("../images/desktop/1x/hero-bg.webp");
  }
}
/* FOR DESKTOP 2x */
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
  screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px) {
  .hero {
    background-image: var(--overlay-hero),
      url("../images/desktop/2x/hero-bg@2x.webp");
  }
}
/* /background image selection */

.hero__title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.button {
  display: block;
  margin: 0 auto;
  background-color: var(--c-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: var(--transition-bgc);
}
.button:hover,
.button:focus {
  background-color: var(--bgc-btn-h-f);
}
.hero__button {
  padding: 16px 32px;
}

@media screen and (max-width: 767px) {
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .hero__title {
    max-width: 320px;
    margin-bottom: 72px;
    font-size: 36px;
  }
}
@media screen and (max-width: 400px) {
  .hero__title {
    max-width: 300px;
    font-size: 30px;
  }
}
@media screen and (max-width: 310px) {
  .hero__title {
    max-width: 256px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .hero__title {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .hero__title {
    max-width: 496px;
    margin-bottom: 48px;
    font-size: 56px;
  }
}
/* ========== /HERO ========== */

/* ========== FEATURES ========== */
.features {
  padding-top: 96px;
  padding-bottom: 96px;
}
.features__list {
  display: flex;
  letter-spacing: 0.02em;
  max-width: 100%;
}
.features__icon {
  display: none;
}
.features__title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--c-text-secondary);
}
.features__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .features__list {
    flex-direction: column;
    row-gap: 72px;
  }
}
@media screen and (max-width: 420px) {
  .features__title {
    font-size: 25px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .features__list {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .features__item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .features__list {
    column-gap: 24px;
  }
  .features__item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .features__icon {
    width: 100%;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bgc-features-icon);
    border-radius: 4px;
    margin-bottom: 8px;
  }
}
/* ========== /FEATURES ========== */

/* ========== SPECIALIZATION ========== */

.secondary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--c-text-secondary);
}
.specialization {
  display: none;
}

@media screen and (min-width: 1158px) {
  .specialization {
    display: block;
    padding-bottom: 120px;
  }
  .specialization__title {
    margin-bottom: 72px;
  }
  .specialization__list {
    display: flex;
    column-gap: 24px;
  }
  .specialization__item {
    flex-basis: calc((100% - 48px) / 3);
  }
}

/* ========== /SPECIALIZATION ========== */
